body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* ====================HEADER======================== */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
  /* flex-grow: 1;
  justify-content: space-between; */
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-span {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {
}

.header-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.address-list {
  font-style: normal;
}

.address-menu-list {
  display: flex;
  gap: 40px;
}

.addres-menu-item {
}

.address-menu-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
}

.address-menu-link:hover,
.address-menu-link:focus {
  color: #404bbf;
}

/* ============================================== */

/* ===================FIRST SECTION============== */

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-btn {
  color: var(--WHITE, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto; /*!Чи потрібна у кнопці ця властивість?*/
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ============================================== */

/* ==================SECOND SECTION============== */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-menu-list {
  display: flex;
  gap: 24px;
}

.features-menu-item {
  width: calc((100% - 3 * 24px) / 4);
}

.features-menu-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-menu-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* ============================================== */

/* ==============THIRD SECTION================= */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-menu-list {
  background-color: #f4f4fd;
  display: flex;
  gap: 24px;
  align-items: center;
}
.team-menu-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-menu-img {
  margin-bottom: 32px;
}

.team-menu-name {
  padding: 32px 0;
}

.team-menu-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-menu-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
}

/* ================================================ */

/* ==============FOURTH SECTION==================== */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-menu-item {
  width: calc((100% - 2 * 24px) / 3);
  border-radius: 0px 0px 4px 4px;
}
.portfolio-menu-img {
  margin-bottom: 32px;
}

.portfolio-menu-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-menu-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-menu-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ================================================ */

/* =====================FOOTER===================== */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-span {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 17.5px;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* ================================================ */
